@font-face {
    font-family: "Blunt";
    src: url("@/assets/fonts/blunt-medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Blunt";
    src: url("@/assets/fonts/blunt-semibold.woff2") format("woff2");
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Blunt";
}